{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <main class="container-fluid">
        <div class="container-fluid" id="login">
            <h1>Connectez-vous</h1>
            <form id="formConnexion" action="" method="post">
                <div class="inputConnexion">
                    <label id="lblEmail">Email<span>*</span></label>
                    <input type="email" name="email" value="{{ last_username }}" class="form-control" autocomplete="email" required>
                </div>
                <div class="inputConnexion">
                    <label>Mot de passe<span>*</span></label>
                    <input type="password" name="password" class="form-control" required>
                    <label><input type="checkbox" name="_remember_me"> Rester connecté</label>
                </div>
                {% if error %}
                    <div class="erreur">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div id="loginSubmit">
                    <button type="submit" form="formConnexion" class="btn btn-success">Se connecter</button>
                    <a class="btn btn-info" href="">Mot de passe oublié ?</a>
                </div>
            </form>
        </div>
    </main>
{% endblock %}
